<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Big Reimbursements</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.fred.Servlets.LoginServlet</servlet-class>
    <init-param>
      <param-name>Param1</param-name>
      <param-value>Value1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
    
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.fred.Servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register_servlet</display-name>
    <servlet-name>Register_servlet</servlet-name>
    <servlet-class>com.fred.Servlets.Register_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_servlet</servlet-name>
    <url-pattern>/Register_servlet</url-pattern>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.fred.Servlets.FrontController</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetchers_users_servelet</display-name>
    <servlet-name>Fetchers_users_servelet</servlet-name>
    <servlet-class>com.fred.Servlets.Fetchers_users_servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetchers_users_servelet</servlet-name>
    <url-pattern>/Fetchers_users_servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmLoginAJAX</display-name>
    <servlet-name>ConfirmLoginAJAX</servlet-name>
    <servlet-class>com.fred.Servlets.ConfirmLoginAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmLoginAJAX</servlet-name>
    <url-pattern>/ConfirmLoginAJAX</url-pattern>
  </servlet-mapping>
  <context-param>
  	<param-name>Param2</param-name>
  	<param-value>Value2</param-value>
  </context-param>
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.html</location>
  </error-page>
  <filter>
    <filter-name>corsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET, POST, PUT, DELETE, OPTIONS, HEAD</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>corsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
